html {
    font-family: 'Merriweather Sans', sans-serif;
}
header {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(4, 95, 157) , rgb(22, 0, 50)); 
    color: #ffffff;
    font-size: 2em; 
}

main {
    display: flex;
}

aside {
    margin: 1em;
}

section {
    margin: 1em;  
    width: 100%;  
}

label {
    font-family: 'Arial', sans-serif;
    font-weight: 900;
    padding: 0.3em;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    padding: 1em;
}

.facts {
    border-style: solid;
    border-width: 2px;
    padding: 0.25em;
    max-width: 100%;
}

.city-stats {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.forecast {
    width: 100%;
    padding: 0.15em;
}

#search {
    margin: 0.8em;
    background-color: rgb(59, 158, 224);
    color: white;
    font-size: 1em;
    width: 100%;
    cursor: pointer;
}

#search:hover {
    background-color: white;
    color: rgb(59, 158, 224);
}

.temp {
    padding-bottom: 1em;
}

.day {
    background-color: rgb(255, 255, 255);
    color: white;
    margin: 2em;
    margin-left: 0em;
    display: flex;
    justify-content: space-between;
}

.words {
    padding: 0.5em;
}

.incorrect {
color: red;
padding-top: 0.55em;
font-size: 0.75rem;
}

.card {
border-style: solid;
border-color: black;
background-color: rgb(25, 50, 104);
}

.city {
    display: flex;
    flex-direction: column;
}

.previous-button {
    margin: 0.8em;
    background-color: rgb(59, 158, 224);
    color: white;
    font-size: 1em;
    width: 100%;
    cursor: pointer;   
}

.previous-button:hover {
    background-color: white;
    color: rgb(59, 158, 224);
}
